.v-questions-wrap h5{
    font-size: 18px;
}

.publish-btn {
    float: right;
}
.option-list{
    margin: 15px 0;
}
.option-list.opt-0{
    margin-top: 0px;
}

.question-tags{
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}
.question-tags > div, 
.question-tags > div input,
.question-tags > div div[data-radium="true"]{
    border-radius: 30px !important;
}
.question-tags.disabled > div div[data-radium="true"]{
    pointer-events: none !important;
}
.question-tags.disabled{
    cursor: not-allowed !important;
}
.question-tags.disabled > div input{
    pointer-events: none !important;
    cursor: not-allowed !important;
    background-color: rgb(227, 227, 227) !important;
}
.question-tags.disabled > div{
    background-color: rgb(227, 227, 227) !important;
}

.question-tags > div{
    padding-left: 9.5px !important;
    padding-right: 9.5px !important;
    border: 1px solid rgba(227, 227, 227, 0.99) !important;
}

.question-tags > div input{
    width: 90% !important;
}

.import-top-chk{
    margin-top: 0;
    margin-bottom: 14px;
}

.card-timeline .timeline.timeline-simple:before {
    display:none;
}

.card-timeline .timeline {
    padding: 20px 0 0px;
}
.card-timeline .timeline > li.timeline-inverted > .timeline-panel {
    float: left;
    width: 60%;
    background-color: #ebecf1;
}

@media only screen and (max-width: 767px) {}


@media only screen and (max-width: 640px) {
    
}


@media only screen and (max-width: 600px) {
    .f-single-question button{
        width: 100%;
        margin: 5px 0;
    }
}


@media only screen and (max-width: 520px) {

}



@media only screen and (max-width: 400px) {
    .form-check .form-check-label {
        line-height: 20px;
        padding-top: 3px;
    }
    .v-questions-wrap button{
        width: 100%;
        margin: 5px 0;
    }
}



